<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.arch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.app.arch.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.app.arch.svc.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.app.arch.svc.main.service.action.db.query" />
                <action android:name="com.app.arch.svc.main.service.action.db.insert" />
                <action android:name="com.app.arch.svc.main.service.action.db.update" />
                <action android:name="com.app.arch.svc.main.service.action.db.delete" />
                <action android:name="com.app.arch.svc.main.service.action.nw.download" />
                <action android:name="com.app.arch.svc.main.service.action.nw.upload" />
            </intent-filter>
        </service>
    </application>

</manifest>